<h1>Statistics</h1>

<br>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Categories <small class="text-muted">all periods statistics</small></h4>
    <div id="categories_donutchart" style="height: 450px;"></div>
  </div>
</div>

<br>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Categories <small class="text-muted">periodical statistics</small></h4>
    <div id="category_periodical_barchart" style="height: 800px;"></div>
  </div>
</div>

<br>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Sub Categories <small class="text-muted">all periods statistics</small></h4>
    <div id="sub_categories_donutchart" style="height: 450px;"></div>
  </div>
</div>

<br>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Sub Categories <small class="text-muted">periodical statistics</small></h4>
    <div id="sub_category_periodical_barchart" style="height: 800px;"></div>
  </div>
</div>

<br>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawCharts);

  function drawCharts() {

    // categories doughnut chart
    var data = google.visualization.arrayToDataTable([
      ['SubCategory', 'Amount'],
      <% @categories_array.each do |row| %>
          ['<%= row[:name].upcase %>', <%= row[:amount] %>],
      <% end %>
    ]);
    var options = {
      pieHole: 0.4,
      sliceVisibilityThreshold: .02,
      backgroundColor: { fill:'transparent' }
    };
    var chart = new google.visualization.PieChart(document.getElementById('categories_donutchart'));
    chart.draw(data, options);


    // categories periodical column chart
    var data = google.visualization.arrayToDataTable([
      ['sub_categories', <%= @category_names.map { |category_name| "'#{category_name}'" }.join(', ').html_safe %>],
      <% @montly_category_amounts_array.each do |month_set| %>
        ['<%= month_set[:month] %>', <%= month_set[:amounts].map { |amount| amount }.join(', ').html_safe %>],
      <% end %>
    ]);
    var options = {
      legend: { position: 'top', maxLines: 3 },
      chartArea: {width: '85%'},
      bar: { groupWidth: '80%' },
      hAxis: {
        title: 'Month'
      },
      sliceVisibilityThreshold: .2,
      isStacked: true
    };
    var chart = new google.visualization.ColumnChart(document.getElementById('category_periodical_barchart'));
    chart.draw(data, options);


    // sub_categories doughnut chart
    var data = google.visualization.arrayToDataTable([
      ['SubCategory', 'Amount'],
      <% @sub_categories_array.each do |row| %>
          ['<%= row[:name].titleize %>', <%= row[:amount] %>],
      <% end %>
    ]);
    var options = {
      pieHole: 0.4,
      sliceVisibilityThreshold: .02,
      backgroundColor: { fill:'transparent' }
    };
    var chart = new google.visualization.PieChart(document.getElementById('sub_categories_donutchart'));
    chart.draw(data, options);


    // sub_categories periodical column chart
    var data = google.visualization.arrayToDataTable([
      ['sub_categories', <%= @sub_category_names.map { |sub_category_name| "'#{sub_category_name}'" }.join(', ').html_safe %>],
      <% @montly_sub_category_amounts_array.each do |month_set| %>
        ['<%= month_set[:month] %>', <%= month_set[:amounts].map { |amount| amount }.join(', ').html_safe %>],
      <% end %>
    ]);
    var options = {
      legend: { position: 'top', maxLines: 3 },
      chartArea: {width: '85%'},
      bar: { groupWidth: '80%' },
      hAxis: {
        title: 'Month'
      },
      sliceVisibilityThreshold: .2,
      isStacked: true
    };
    var chart = new google.visualization.ColumnChart(document.getElementById('sub_category_periodical_barchart'));
    chart.draw(data, options);
  }

  $(window).resize(function(){
    drawCharts();
  });
</script>
