<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<br>

<ul class="list-group">
  <% @groups.each do |group| %>

    <li class="list-group-item list-group-item-action d-flex justify-content-between p-0">
      <%= link_to group.name, group, class: 'flex-grow-1 text-dark p-3' %>
      <span>
        <%= link_to "/groups/#{group.id}/download_excel", title: 'Download', class: 'd-inline-block text-dark m-3' do %>
          <i class="fas fa-download px-2"></i>
        <% end %>
        <%= link_to edit_group_path(group), title: 'Rename', class: 'd-inline-block text-dark m-3' do %>
          <i class="fas fa-edit px-2"></i>
        <% end %>
        <%= link_to group, title: 'Destroy', method: :delete, data: { confirm: 'Are you sure? All expenses in this group will be deleted.' }, class: 'd-inline-block text-danger m-3' do %>
          <i class="fas fa-trash px-2"></i>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>

<br>

<%= link_to new_group_path, class: 'btn btn-primary' do %>
<i class="fas fa-plus mr-1"></i> New Group
<% end %>
