<p id="notice"><%= notice %></p>

<h1><%= @group.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.sub_groups.each do |sub_group| %>
      <tr>
        <td><%= link_to sub_group.name, sub_group %></td>
        <td><%= link_to 'Edit', edit_sub_group_path(sub_group) %></td>
        <td><%= link_to 'Destroy', sub_group, method: :delete, data: { confirm: 'Are you sure? All expenses in this group will be deleted.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Group', new_sub_group_path(group_id: @group.id) %>

<br>
<br>

<%= link_to 'Rename', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
