<p id="notice"><%= notice %></p>

<h1><%= link_to 'Groups', groups_path %> ＞ <%= @group.name %></h1>

<br>

<ul class="list-group">
  <% @group.sub_groups.each do |sub_group| %>

    <li class="list-group-item list-group-item-action d-flex justify-content-between p-0">
      <%= link_to sub_group.name, sub_group, class: 'flex-grow-1 text-dark p-3' %>
      <span>
        <%= link_to edit_sub_group_path(sub_group), title: 'Rename', class: 'd-inline-block text-dark m-3' do %>
          <i class="fas fa-edit px-2"></i>
        <% end %>
        <%= link_to sub_group, title: 'Destroy', method: :delete, data: { confirm: 'Are you sure? All expenses in this group will be deleted.' }, class: 'd-inline-block text-danger m-3' do %>
          <i class="fas fa-trash px-2"></i>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>

<br>

<%= link_to new_sub_group_path, class: 'btn btn-primary' do %>
<i class="fas fa-plus mr-1"></i> New Sub Group
<% end %>

<br>
<br>



<div class="card">

  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="expenses-tab" data-toggle="tab" href="#expenses" role="tab" aria-controls="expenses" aria-selected="true">Expenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="sums-tab" data-toggle="tab" href="#sums" role="tab" aria-controls="sums" aria-selected="false">Sums</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="expenses" role="tabpanel" aria-labelledby="expenses-tab">
        <div class="d-flex justify-content-between align-items-center">
          <h2>
            Expenses
            <small class="text-muted"> in Sub Groups of this Group</small>
          </h2>
          <%= link_to "/groups/#{@group.id}/download_excel", class: 'btn btn-outline-success' do %>
            <i class="fas fa-file-excel mr-1"></i> Download for Excel
          <% end %>
        </div>
        <br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Category</th>
              <th scope="col">Sub category</th>
              <th scope="col" class="text-right">Amount</th>
              <th scope="col" colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <% @expenses.each do |expense| %>
              <tr scope="row">
                <td><%= expense.date %></td>
                <td><%= expense.sub_category.category.name.upcase %></td>
                <td><%= expense.sub_category.name.capitalize %></td>
                <td class="text-right"><%= expense.amount.to_s(:delimited) %></td>
                <td class="text-center"><%= link_to edit_expense_path(expense), title: 'Edit' do %><i class="fas fa-edit text-dark"></i><% end %></td>
                <td class="text-center"><%= link_to expense, title: 'Delete', method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fas fa-trash text-danger"></i><% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="sums" role="tabpanel" aria-labelledby="sums-tab">
        <div class="d-flex justify-content-between align-items-center">
          <h2>
            Sums
            <small class="text-muted"> of each Sub Category</small>
          </h2>
          <%= link_to "/groups/#{@group.id}/download_sums_excel", class: 'btn btn-outline-success' do %>
            <i class="fas fa-file-excel mr-1"></i> Download for Excel
          <% end %>
        </div>
        <br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Category</th>
              <th scope="col">Sub category</th>
              <th scope="col" class="text-right">Amount</th>
            </tr>
          </thead>
          <tbody>
            <% @sub_categories.each do |sub_category| %>
              <tr scope="row">
                <td><%= sub_category.date_span(@group.id) %></td>
                <td><%= sub_category.category.name.upcase %></td>
                <td><%= sub_category.name.titleize %></td>
                <td align="right"><%= sub_category.expenses.where(sub_group: @sub_groups).sum(:amount).to_s(:delimited) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>

<br>
<br>
