<%= form_with(model: sub_category, local: true) do |form| %>
  <% if sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

      <ul>
      <% sub_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputSubCategory-name">Name</span>
    </div>
    <%= form.text_field :name, placeholder: 'e.g. taxi', class: 'form-control', 'aria-describedby' => 'inputSubCategory-name' %>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelectCategoryId">Category</label>
    </div>
    <%= form.select :category_id, options_from_collection_for_select(@categories, :id, :name, selected: sub_category.category_id), {}, { id: 'inputGroupSelectCategoryId', class: 'custom-select'} %>
  </div>

  <br>

  <%= form.submit class: 'btn btn-primary mr-2' %>
  <%= link_to 'Cancel', category_path(sub_category.category), class: 'btn btn-outline-secondary' %>

<% end %>
