<%= form_with(model: sub_group, local: true) do |form| %>
  <% if sub_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_group.errors.count, "error") %> prohibited this sub_group from being saved:</h2>

      <ul>
      <% sub_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-name">Name</span>
    </div>
    <%= form.text_field :name, placeholder: 'e.g.  non nominative', class: 'form-control', 'aria-label' => 'Sizing example input', 'aria-describedby' => 'inputGroup-name' %>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelectGroupId">Group</label>
    </div>
    <%= form.select :group_id, options_from_collection_for_select(@groups, :id, :name, selected: (sub_group.group_id)? sub_group.group_id : nil), {}, { id: 'inputGroupSelectGroupId', class: 'custom-select'} %>
    <div class="input-group-append">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
