<p id="notice"><%= notice %></p>

<h1>Sub Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_groups.each do |sub_group| %>
      <tr>
        <td><%= link_to sub_group.name, sub_group %></td>
        <td><%= link_to  sub_group.group.name, sub_group.group %></td>
        <td><%= link_to 'Edit', edit_sub_group_path(sub_group) %></td>
        <td><%= link_to 'Destroy', sub_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Group', new_sub_group_path %>
