<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group w-sm-50">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputCategory-name">Name</span>
    </div>
    <%= form.text_field :name, placeholder: 'e.g. transportation fee', class: 'form-control', 'aria-describedby' => 'inputCategory-name' %>
  </div>

  <br>
  <br>

  <%= form.submit class: 'btn btn-primary mr-2' %>
  <%= link_to 'Cancel', categories_path, class: 'btn btn-outline-secondary' %>

<% end %>
