<div class="container">

<p id="notice"><%= notice %></p>

<table class="expenses-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Sub category</th>
      <th>Category</th>
      <th>Amount</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.date %></td>
        <td><%= expense.sub_category.category.name.upcase %></td>
        <td><%= expense.sub_category.name.capitalize %></td>
        <td align="right"><%= expense.amount.to_s(:delimited) %></td>
        <td><%= link_to edit_expense_path(expense), title: 'Edit' do %><i class="fas fa-edit"></i><% end %></td>
        <td><%= link_to expense, title: 'Delete', method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fas fa-trash"></i><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Manage Categories', categories_path %>
<%= link_to 'Manage Sub Categories', sub_categories_path %>
<br>
<%= link_to 'Download All Expenses', expenses_download_path, class: :btn %>
</div>

<script>
$(function(){
  document.onkeydown = checkKey;
  function checkKey(e) {
      e = e || window.event;
      let temp = parseInt( $('#day_field').val() );
      if (e.keyCode == '38') { //UP KEY
        $('#day_field').val(temp + 1);
      } else if (e.keyCode == '40') { //DOWN KEY
        $('#day_field').val(temp - 1);
      }
      if ($('#day_field').val() <= 0) {
        $('#day_field').val(31);
      } else if ($('#day_field').val() >= 32) {
        $('#day_field').val(1);
      }
  }
})
</script>
